<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huachu.core.dao.TRecyclingDispatchMapper">
  <resultMap id="BaseResultMap" type="com.huachu.domain.TRecyclingDispatch">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="recycling_no" jdbcType="VARCHAR" property="recyclingNo" />
    <result column="expire_date" jdbcType="DATE" property="expireDate" />
    <result column="recycling_user_id" jdbcType="INTEGER" property="recyclingUserId" />
    <result column="dispatch_time" jdbcType="TIMESTAMP" property="dispatchTime" />
    <result column="dispatch_user_id" jdbcType="INTEGER" property="dispatchUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, recycling_no, expire_date, recycling_user_id, dispatch_time, dispatch_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_recycling_dispatch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_recycling_dispatch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huachu.domain.TRecyclingDispatch">
    insert into t_recycling_dispatch (id, recycling_no, expire_date, 
      recycling_user_id, dispatch_time, dispatch_user_id
      )
    values (#{id,jdbcType=BIGINT}, #{recyclingNo,jdbcType=VARCHAR}, #{expireDate,jdbcType=DATE}, 
      #{recyclingUserId,jdbcType=INTEGER}, #{dispatchTime,jdbcType=TIMESTAMP}, #{dispatchUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huachu.domain.TRecyclingDispatch" useGeneratedKeys="true" keyProperty="id">
    insert into t_recycling_dispatch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recyclingNo != null">
        recycling_no,
      </if>
      <if test="expireDate != null">
        expire_date,
      </if>
      <if test="recyclingUserId != null">
        recycling_user_id,
      </if>
      <if test="dispatchTime != null">
        dispatch_time,
      </if>
      <if test="dispatchUserId != null">
        dispatch_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recyclingNo != null">
        #{recyclingNo,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=DATE},
      </if>
      <if test="recyclingUserId != null">
        #{recyclingUserId,jdbcType=INTEGER},
      </if>
      <if test="dispatchTime != null">
        #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dispatchUserId != null">
        #{dispatchUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huachu.domain.TRecyclingDispatch">
    update t_recycling_dispatch
    <set>
      <if test="recyclingNo != null">
        recycling_no = #{recyclingNo,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=DATE},
      </if>
      <if test="recyclingUserId != null">
        recycling_user_id = #{recyclingUserId,jdbcType=INTEGER},
      </if>
      <if test="dispatchTime != null">
        dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dispatchUserId != null">
        dispatch_user_id = #{dispatchUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huachu.domain.TRecyclingDispatch">
    update t_recycling_dispatch
    set recycling_no = #{recyclingNo,jdbcType=VARCHAR},
      expire_date = #{expireDate,jdbcType=DATE},
      recycling_user_id = #{recyclingUserId,jdbcType=INTEGER},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      dispatch_user_id = #{dispatchUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByRecyclingNo" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from t_recycling_dispatch
  	where recycling_no=#{recyclingNo,jdbcType=VARCHAR}
  	order by dispatch_time desc
  	limit 1
  </select>
  
  <select id="queryListByRecyclingNo" parameterType="java.lang.String" resultType="com.huachu.dto.response.RecyclingListDispatchRespDTO">
  	select
		rd.id,
		rd.recycling_no,
		rd.expire_date,
		rd.recycling_user_id,
		rd.dispatch_time,
		rd.dispatch_user_id,
		u1.real_name recycling_user_name,
		u2.real_name dispatch_user_name
  	from t_recycling_dispatch rd
  	join t_admin_user u1 on rd.recycling_user_id=u1.user_id
  	join t_admin_user u2 on rd.dispatch_user_id=u2.user_id
  	where rd.recycling_no=#{recyclingNo,jdbcType=VARCHAR}
  </select>
  
  <select id="queryExpiredRecyclingNos" resultType="java.lang.String">
  	select
  		r1.recycling_no
  	from t_recycling_list r1
  	where r1.recycling_status in(0, 1) and r1.dispatch_id in(
  		select max(id) from t_recycling_dispatch where expire_date &lt; current_date() group by recycling_no order by expire_date desc
  	)
  </select>
</mapper>